.order-book-visualizer-container{
    border: 2px solid;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
}

.order-book-visualizer-input-container{
    text-align: center;
}

.order-book-visualizer-button {
    background-color: black;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.order-book-visualizer-button:hover {
    background-color: grey;
}

.order-book-visualizer-button.active {
    border-color: black;
    border: 2px solid;
    background-color: white;
    color: black;
}